tr {
  cursor: pointer;
}

.status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
}

.user label {
  color: #666;
  font-weight: bold;
  display: block;
  margin-bottom: 0 !important;  
}

.user span {
  font-weight: bold;
}

.user div {
  padding-bottom: 0.5em;
}

th {
  padding: 0.5rem;  
}

.fa-pencil-alt:hover {
  color: blue;
}