<app-header></app-header>
<app-navbar></app-navbar>
<div class="container my-1">
  <div class="row">
    <div class="col-lg-9 col-sm-12 col-md-12 mx-auto">
      <div class="card p-4">
        <div class="row">
          <div class="col-md-3">
            <label for="gender">Gender</label>
            <select id="gender" class="form-control" name="gender" [(ngModel)]="searchParams.gender">
              <option value="">--select--</option>
              <option value="MALE">MALE</option>
              <option value="FEMALE">FEMALE</option>
              <option value="OTHER">OTHER</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="bloodGroup">Blood Group</label>
            <select name="bloodGroup" id="bloodGroup" class="form-control" [(ngModel)]="searchParams.bloodGroup">
              <option value="">--select--</option>
              <option value="{{item.value}}" *ngFor="let item of bloodGroups">{{item.title}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="gender">Province</label>
            <select id="gender" class="form-control" name="gender" [(ngModel)]="searchParams.province"
            (change)="fetchDistricts(searchParams.province)">
              <option value="">--select--</option>
              <option *ngFor="let province of provinces" value="{{province}}">{{province}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="gender">District</label>
            <select id="gender" class="form-control" name="gender" [(ngModel)]="searchParams.district">
              <option value="">--select--</option>
              <option *ngFor="let item of districts" value="{{item?.district}}">{{item?.district}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <button (click)="getDonorList(searchParams)">Search</button>
            <button (click)="getDonorList(); clearParams();">Clear</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <table class="table table-striped table-hover" *ngIf="donors">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Donor</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Age</th>
                  <th scope="col">Blood Group</th>
                  <th scope="col">Address</th>
                  <th scope="col">Distance/Time</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let donor of donors; let i=index" data-toggle="modal" data-target="#donorDetail"
                  (click)="donorDetail = donor;">
                  <th scope="row">{{i+1}}</th>
                  <td>{{donor?.firstName}} {{donor?.lastName}}</td>
                  <td>{{donor?.gender}}</td>
                  <td>{{donor?.age || '-'}}</td>
                  <td>{{donor?.bloodGroup}}</td>
                  <td>{{donor?.province?donor.province + ',':''}} {{donor?.district || '-'}}</td>
                  <td>{{donor?.distance + ' km '}}/{{donor?.time + ' min'}}</td>
                  <td>
                    <span class="badge badge-{{donor?.status=='ACTIVE'?'success':'warning'}}">
                      {{donor?.status=='ACTIVE'?donor.status:'AWAY'}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="donorDetail" tabindex="-1" role="dialog" aria-labelledby="donorDetailTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Donor Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row donor">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <label class="title">First Name</label>
            <span>{{donorDetail?.firstName}}</span>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <label class="title">Last Name</label>
            <span>{{donorDetail?.lastName}}</span>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <label class="title">Mobile</label>
            <span>{{donorDetail?.mobile}}</span>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <label class="title">Email</label>
            <span>{{donorDetail?.email}}</span>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <label class="title">Blood Group</label>
            <span>{{donorDetail?.bloodGroup}}</span>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <label class="title">Age</label>
            <span>{{donorDetail?.age || '-'}}</span>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <label class="title">Province</label>
            <span>{{donorDetail?.province || '-'}}</span>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <label class="title">District</label>
            <span>{{donorDetail?.district || '-'}}</span>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <label class="title">Distance/Time</label>
            <span>{{donorDetail?.distance + ' km' || '-'}} / {{donorDetail?.time + ' minutes' || '-'}}</span>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <label class="title">Status</label>
            <span class="badge badge-{{donorDetail?.status=='ACTIVE'?'success':'warning'}}">
              {{donorDetail?.status=='ACTIVE'?donorDetail.status:'AWAY'}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>