tr {
  cursor: pointer;
}

.donor label {
  color: #666;
  font-weight: bold;
  display: block;
  margin-bottom: 0 !important;  
}

.donor span {
  font-weight: bold;
}

.donor div {
  padding-bottom: 0.5em;
}